<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <h1>Detalle de peliculas</h1>
    <ul>
        <li>
            <%=peliculas.title%>
        </li>
        <li>
            <%=peliculas.rating%>
        </li>
        <li>
            <%=peliculas.awards%>
        </li>
        <li>
            <%=peliculas.release_date%>
        </li>
        <li>
            <%=peliculas.length%>
        </li>

    </ul>
    <button>Editar</button>
    <button>Eliminar</button>
</body>
</html>